dt{
font-weight: bold;
}

h1, h2{
color: #000044;
}

img{
float: right;
border: 1px solid black;
margin: 5 px;
}

body{
max-width: 1000px;
}

dl{
max-width: 750px;
}

dt{
color: #000044;
}

dl, dd ,dt{
padding: 5px
}


